<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Frontpage{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" crossorigin="anonymous">
	<link rel="stylesheet" href='{% static "css/reg.css"%}'>

	<link rel='stylesheet' href='{% static "css/style.css"%}'>

</head>
</head>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% block body %}
	{% endblock %}

	<footer> <script src="{% static  'bower_components/jquery/dist/jquery.js' %}"></script>
		<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'bower_components/jquery.countdown/dist/jquery.countdown.js' %}																			"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/reg.js' %}"></script>

		<script src="{% static '/ace-builds/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static '/ace-builds/demo/kitchen-sink/demo.js' %}"></script>

		<script type="text/javascript">
			$(function(){
			{% block jquery %}{% endblock %}
			});
		</script>
	</footer>

</html>