{% extends 'base.html' %}
{% block title %}
Home
{%endblock%}
{% block body %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Questionnaire</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'accounts:profile' profile.slug %}">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-md-3 col-md-offset-1  side">
    <img src="{{profile.image.url }}" alt="" class="img-responsive img-circle img-thumbnail pimage">
    <h2><span class="glyphicon glyphicon-user" aria-hidden="true">{{profile.name}}</span></h2>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">Results</a></li>
        <li role="presentation"><a href="#">Ranks</a></li>
    </ul>


</div>

<div class="col-md-6 col-md-offset-1 jumbotron rightside ">


<!--these contacts are really tests im too lazy to change the names-->
    <div class="testlinks">
    {% for contact in contacts %}
     <div class="panel panel-default">
      <div class="panel-body">
          <a href="{% url 'test' contact.id %}">{{ contact.name}}</a>

      </div>
    </div>
    {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>



</div>

{% endblock %}