  {% extends 'base.html' %}
  {% block title %} Register {% endblock %}
{% block body %}


<div class="jumbotron col-md-5 col-md-offset-3 registration ">
    <label><h2>Registion Form</h2></label>
    <form action="." method="post" enctype="multipart/form-data" data-validate-username-url="{% url 'accounts:validateusername' %}" >{% csrf_token %}
             {% if form.form.non_field_errors or profile.name.errors  %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
                 {{ profile.name.errors }}
            </div>
            {% endif %}
           <div class="profile-group hidden errors">
               Heloo
              </div>


               <div class="profile-group">

                <label for="{{ profile.status.id_for_label }}">UserName</label>

              {{ profile.name }}

              </div>

			  <div class="form-group">
				  {{ form.email.errors }}
			    <label for="{{ form.email.id_for_label }}">Email address</label>

				{{ form.email }}

			  </div>
			  <div class="form-group">
				  {{ form.password1.errors }}
			    <label for="{{ form.password1.id_for_label }}">Password</label>

				  {{ form.password1 }}

			  </div>

                <div class="form-group">
				  {{ form.password2.errors }}
			    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>

				  {{ form.password2 }}

			  </div>

            {{ profile.non_field_errors }}

              <div class="profile-group">
                  {{ profile.admissionno.errors }}
                <label for="{{ profile.admissionno.id_for_label }}">Admissionno </label>
                  {{ profile.admissionno }}

              </div>

              <div class="profile-group">
                  {{ profile.image.errors }}
                <label for="{{ profile.image.id_for_label }}">image </label>
                  {{ profile.image }}

              </div>




              <div class="profile-group">
                  {{ profile.status.errors }}
                <label for="{{ profile.status.id_for_label }}">Status</label>

                  {{ profile.status }}

              </div>





        <input type="submit">
    </form>

</div>

{% endblock %}