.frontpage .main {
  background: url(http://www.impublications.com/sites/default/files/books.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }
  .frontpage .main .header {
    position: absolute;
    top: 200px;
    background-color: white; }
    .frontpage .main .header .pageheader {
      font-size: 100px;
      background: url(http://www.impublications.com/sites/default/files/books.jpg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase; }
.frontpage .login {
  background: white;
  height: 100vh; }
  .frontpage .login .loginform > * {
    padding: 20px; }
  .frontpage .login .loginform {
    margin-top: 15vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #d8d0c0; }
  .frontpage .login .l {
    background-color: white;
    margin-bottom: 20px; }

.aa {
  height: 300px;
  margin-top: 200px;
  text-align: center; }
  .aa .cap {
    margin-top: 50px; }

.a {
  position: relative;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  padding-top: 70px;
  user-select: none; }
  .a:before, .a:after {
    content: "";
    height: 200px;
    width: 200px;
    border-radius: 50%; }
  .a img {
    height: 133.33333px;
    width: 133.33333px;
    transform: translateY(-35%);
    border-radius: 50%; }

.b:after {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 20px solid transparent;
  border-bottom-color: blue;
  border-top-color: blue;
  animation: spins 15s ease-in-out infinite; }

.b:before {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 20px solid transparent;
  border-right-color: red;
  border-left-color: red;
  animation: spin 15s ease-in-out infinite; }

.b.paused:before {
  animation-play-state: paused; }

.b.paused:after {
  animation-play-state: paused; }

@keyframes spins {
  0% {
    transform: rotate(0deg) scale(1); }
  25% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(360deg) scale(1.3); }
  75% {
    transform: rotate(360deg) scale(1.3); }
  100% {
    transform: rotate(720deg) scale(1); } }
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1); }
  25% {
    transform: rotate(360deg) scale(1.3); }
  50% {
    transform: rotate(360deg) scale(1.3); }
  75% {
    transform: rotate(720deg) scale(1); }
  100% {
    transform: rotate(720deg) scale(1); } }
@keyframes cols {
  0%,100% {
    color: red; }
  25% {
    color: green; }
  50% {
    color: blue; }
  75% {
    color: yellow; } }
.paused {
  animation-play-state: paused; }

.registration {
  margin-top: 100px; }
  .registration * {
    margin-bottom: 10px; }

.side {
  background-color: #DBFFB3; }
  .side .pimage {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%); }
  .side h2 {
    text-transform: capitalize; }
  .side .nav-pills > li > a:hover {
    background-color: white; }

.rightside {
  height: 90vh;
  background-color: #29bbea; }
  .rightside .testlinks {
    background-color: white;
    height: 70vh; }

.navpagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%); }

.firstnav {
  opacity: 0.4; }

.ace_editor {
  margin-top: 30px;
  margin-bottom: 50px;
  height: 60vh; }

#progsub {
  margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
